In [4]:
import pandas as pd

#  dummy dataset with 20 rows and 3 columns
data5 = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'David', 'Alice', 'Bob', 'Eva', 'Frank', 'Grace', 'Harry', 'Ivy', 'Jack', 'Alice', 'Bob', 'Charlie', 'Alice', 'David', 'Alice', 'Bob'],
    'Age': [25, 30, 22, 25, 35, 25, 30, 28, 40, 35, 22, 33, 27, 25, 30, 22, 25, 35, 25, 30],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York', 'San Francisco', 'New York', 'Los Angeles', 'San Francisco', 'Chicago', 'New York', 'Los Angeles', 'Chicago', 'San Francisco', 'New York', 'Los Angeles', 'Chicago', 'New York', 'San Francisco', 'New York', 'Los Angeles'],
}

df5 = pd.DataFrame(data5)

print(df5)

       Name  Age           City
0     Alice   25       New York
1       Bob   30    Los Angeles
2   Charlie   22        Chicago
3     Alice   25       New York
4     David   35  San Francisco
5     Alice   25       New York
6       Bob   30    Los Angeles
7       Eva   28  San Francisco
8     Frank   40        Chicago
9     Grace   35       New York
10    Harry   22    Los Angeles
11      Ivy   33        Chicago
12     Jack   27  San Francisco
13    Alice   25       New York
14      Bob   30    Los Angeles
15  Charlie   22        Chicago
16    Alice   25       New York
17    David   35  San Francisco
18    Alice   25       New York
19      Bob   30    Los Angeles

In [5]:

duplicates_name = df5.duplicated(subset=['Name'])

df5['DuplicatedName'] = duplicates_name


print(df5)

       Name  Age           City  DuplicatedName
0     Alice   25       New York           False
1       Bob   30    Los Angeles           False
2   Charlie   22        Chicago           False
3     Alice   25       New York            True
4     David   35  San Francisco           False
5     Alice   25       New York            True
6       Bob   30    Los Angeles            True
7       Eva   28  San Francisco           False
8     Frank   40        Chicago           False
9     Grace   35       New York           False
10    Harry   22    Los Angeles           False
11      Ivy   33        Chicago           False
12     Jack   27  San Francisco           False
13    Alice   25       New York            True
14      Bob   30    Los Angeles            True
15  Charlie   22        Chicago            True
16    Alice   25       New York            True
17    David   35  San Francisco            True
18    Alice   25       New York            True
19      Bob   30    Los Angeles            True

In [8]:

df5_no_duplicates = df5.drop_duplicates(subset=['Name'])

print(df5_no_duplicates)

       Name  Age           City  DuplicatedName
0     Alice   25       New York           False
1       Bob   30    Los Angeles           False
2   Charlie   22        Chicago           False
4     David   35  San Francisco           False
7       Eva   28  San Francisco           False
8     Frank   40        Chicago           False
9     Grace   35       New York           False
10    Harry   22    Los Angeles           False
11      Ivy   33        Chicago           False
12     Jack   27  San Francisco           False