In [1]:
import numpy as numpy
import pandas as pd

In [2]:
from sklearn.preprocessing import OneHotEncoder

In [3]:
data = {'category':['A','B','A','C','D']}

In [4]:
df = pd.DataFrame(data)

In [7]:
encoder = OneHotEncoder(sparse=False)

In [9]:
encoded_data = encoder.fit_transform(df[['category']])

c:\Users\mande\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [10]:
df_encoded = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['category']))

In [12]:
df = pd.concat([df,df_encoded], axis=1)

In [13]:
df

  category  category_A  category_B  category_C  category_D
0        A         1.0         0.0         0.0         0.0
1        B         0.0         1.0         0.0         0.0
2        A         1.0         0.0         0.0         0.0
3        C         0.0         0.0         1.0         0.0
4        D         0.0         0.0         0.0         1.0